.flex-container {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .flex-container div {
    width: 100px;
    height: 100px;
    
    font-size: 30px;
    color: #fff;
    
    padding: 10px 20px;
    box-sizing: border-box;
  }
  
  .bg-green {
    background: #4CAF50;
  }
  
  .bg-blue {
    background: #2196F3;
  }
  
  .bg-pink {
    background: #E91E63;
  }