body {
  margin: 0;
  padding: 30px;
}

.container {
  background: #ccc;
  overflow: hidden;
}

.item {
  width: calc((100% / 5) - 20px);
  float: left;
  background: #03A9F4;
  margin: 0 20px 20px 0;
  text-align: center;
}

.img {
  height: 100px;
  background: #3f51b5cf;
  color: #FFF;
}

p.name {
  font-weight: bold;
  color: #FFF;
  font-size: 20px;
}