.flex-container {
    display: flex;
    background: #673AB7;
  }
  
  .flex-container div {
    padding: 20px;
    
    background: #2196F3;
    color: #fff;
  }
  
  .flex-container div:nth-child(2n){
    background: #3F51B5;
  }